@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #ee6724;
    --just-white: #fff;
}


body{
    background: #201e1c;
}

h1{
    color: white;

}

header {
    height: 60px;
    background: rgb(47, 47, 47) ;
    display: grid;
}


header .header-navabar-conteiner{
    height: 50px;
    grid-column: 2;
    display: grid;
}

header .header-navabar-conteiner .navbs{
    justify-content: flex-end;
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.navbs a{
    color:white ;
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
}



#particles-js{  
    background: #000000;
}

.conteiner__particles{
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    margin: 0;
    z-index: 1;
}


.conteiner__targets{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 900px;
    margin-top: 50px;
    justify-content: space-between;
}

.conteiner-targets h2{
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}

.day-week {
    width: 60%;
    min-width: 100px;
    max-width: 200px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 7px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 83%);
}

.btn-send {
   display: flex;
    justify-content: center;
    text-decoration: none;
}

.btn-send button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: var(--off-white);
}

.btn-send button:hover {
    background-color:var(--black); /* Green */
    color: white;
  }

.btn-send button a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #f7931a;
    font-weight: bold;
}
